@charset "UTF-8";
/*rwd*/
/*650*/
/*980*/
/*1184*/
/*color*/
/*font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Noto+Sans+TC:wght@400;700&display=swap");
@font-face {
  font-family: "custom-noto-sans";
  src: local("Noto Sans"), local("Noto Sans TC");
  unicode-range: U+4E00-9FFF; /*中文語系*/
}
@font-face {
  font-family: "custom-noto-sans";
  src: url(../../fonts/PPMonumentExtended-Regular.otf) format("opentype"), url(../../fonts/PPMonumentExtended-RegularItalic.otf) format("opentype"), url(../../fonts/PPMonumentExtended-Light.otf) format("opentype"), url(../../fonts/PPMonumentExtended-LightItalic.otf) format("opentype"), url(../../fonts/PPMonumentExtended-Black.otf) format("opentype"), url(../../fonts/PPMonumentExtended-BlackItalic.otf) format("opentype");
  unicode-range: U+00-024F; /*英語系*/
}
/*48px*/
/*40px*/
/*32px*/
/*24px*/
/*20px*/
/*16px*/
/*14px*/
/*24px*/
/*20px*/
/*16px*/
/*14px*/
/*12px*/
/*72px*/
/*60px*/
/*48px*/
/*36px*/
/*28px*/
/*18px*/
/*36px*/
/*28px*/
/*20px*/
/*18px*/
/*16px*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "custom-noto-sans", sans-serif;
  color: #FFFFFF;
}

h1 {
  font-size: 3rem;
  line-height: 72px;
}

h2 {
  font-size: 2.5rem;
  line-height: 60px;
}

h3 {
  font-size: 2rem;
  line-height: 48px;
}

h4 {
  font-size: 1.5rem;
  line-height: 36px;
}

h5 {
  font-size: 1.25rem;
  line-height: 28px;
}

h1-E, h2-E, h3-E, h4-E, h5-E {
  letter-spacing: 10%;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 980px) {
  .container {
    padding: 0 32px;
  }
}

.d-flex {
  display: flex;
}

.bg-n5 {
  background: #06102B;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

@media screen and (min-width: 980px) {
  .d-lg-none {
    display: none;
  }
}

@media screen and (min-width: 980px) {
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 980px) {
  .d-lg-flex {
    display: flex;
  }
}

.width-100 {
  width: 100%;
}

@media screen and (min-width: 980px) {
  .width-lg-auto {
    width: auto;
  }
}

.p-16 {
  padding: 16px;
}

@media screen and (min-width: 980px) {
  .px-lg-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.navbar__item {
  padding: 0 16px;
  color: #858993;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__item:hover {
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}
.navbar__item:hover::after {
  content: "";
  width: 12px;
  height: 4px;
  background: #55FFAD;
  position: absolute;
  left: calc(50% - 6px);
  bottom: -8px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(85, 255, 173, 0.6);
}

.btn {
  border: 1px solid;
  border-radius: 40px;
  cursor: pointer;
}
.btn-small {
  padding: 8px 16px 10px 16px;
}
.btn-big {
  padding: 8px 39px;
  border-radius: 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.02rem;
}
.btn-light {
  color: #FFFFFF;
  background-color: transparent;
}
.btn-light:hover {
  color: #55FFAD;
  background: rgba(85, 255, 173, 0.2);
  box-shadow: 0px 0px 10px rgba(85, 255, 173, 0.6);
}
.btn-yellow {
  background: #FFE34E;
}

.header {
  justify-content: space-between;
  align-items: center;
}
.header__left {
  padding: 21px 0;
  align-items: center;
}
@media screen and (min-width: 980px) {
  .header__left {
    padding: 34px 0;
  }
}
.header__right {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 0px;
  }
}

.i-hamburg {
  padding-right: 25px;
  font-size: 30px;
  cursor: pointer;
}

.i-xmark {
  font-size: 24px;
}

@media screen and (min-width: 980px) {
  .dropdown {
    flex-direction: row;
    align-items: center;
  }
}
.dropdown-menu {
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 980px) {
  .dropdown-menu {
    flex-direction: row;
  }
}
.dropdown-menu .navbar__item {
  padding: 16px 0;
}
@media screen and (min-width: 980px) {
  .dropdown-menu .navbar__item {
    padding: 0 16px;
  }
}
.dropdown-menu .navbar__item:hover::after {
  bottom: 0px;
}
@media screen and (min-width: 980px) {
  .dropdown-menu .navbar__item:hover::after {
    bottom: -8px;
  }
}

.active {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 100;
}
@media screen and (min-width: 980px) {
  .active {
    flex-direction: row;
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
  }
}

.logo {
  width: 110px;
}
@media screen and (min-width: 980px) {
  .logo {
    width: 180px;
  }
}

.sign {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 980px) {
  .sign {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 32px;
  }
}

.hero__content {
  flex-direction: column;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 210px;
}
@media screen and (min-width: 650px) {
  .hero__content {
    padding-bottom: 108.36px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding-top: 63.64px;
  }
}
@media screen and (min-width: 980px) {
  .hero__content {
    padding-top: 82.49px;
    padding-bottom: 136.46px;
  }
}
@media screen and (min-width: 1184px) {
  .hero__content {
    padding-top: 99.66px;
    padding-bottom: 173.65px;
  }
}

.title-th {
  font-size: 27px;
  line-height: 28.84px;
  letter-spacing: 0.2rem;
  text-shadow: -1.32px -1.36px #55FFAD, 1.36px 2.05px #9DA4FF;
  font-style: italic;
  top: -35px;
  right: calc(50% - 43px);
}
@media screen and (min-width: 768px) {
  .title-th {
    top: -22.41px;
    right: 0px;
  }
}
@media screen and (min-width: 980px) {
  .title-th {
    font-size: 34px;
    line-height: 36.31px;
    top: -29.88px;
  }
}
@media screen and (min-width: 1184px) {
  .title-th {
    font-size: 42px;
    line-height: 44.86px;
    top: -30.69px;
  }
}

.title {
  font-size: 42px;
  line-height: 50.4px;
  letter-spacing: 0.2rem;
  margin-top: 0px;
  margin-bottom: 15px;
  text-shadow: -2.7px -2.05px #55FFAD, 2.05px 3.42px #9DA4FF;
}
@media screen and (min-width: 768px) {
  .title {
    padding-right: 66px;
  }
}
@media screen and (min-width: 980px) {
  .title {
    font-size: 52px;
    line-height: 62.4px;
    margin-bottom: 18px;
    padding-right: 94.12px;
  }
}
@media screen and (min-width: 1184px) {
  .title {
    font-size: 62px;
    line-height: 74.4px;
    margin-bottom: 24px;
    padding-right: 126.29px;
  }
}

.subTitle {
  font-size: 20px;
  letter-spacing: 0.8rem;
  font-weight: bold;
  margin-bottom: 45.34px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .subTitle {
    font-size: 16px;
    margin-bottom: 51.96px;
  }
}
@media screen and (min-width: 980px) {
  .subTitle {
    font-size: 20px;
    margin-bottom: 67.32px;
  }
}
@media screen and (min-width: 1184px) {
  .subTitle {
    margin-bottom: 79.23px;
  }
}

.img-code {
  width: 70.48px;
  top: 2px;
  left: 25px;
  transform: rotate(-19.31deg);
}
@media screen and (min-width: 650px) {
  .img-code {
    top: 0px;
    left: 162.5px;
  }
}
@media screen and (min-width: 768px) {
  .img-code {
    width: 77.31px;
    top: 73.23px;
    left: 63.37px;
  }
}
@media screen and (min-width: 980px) {
  .img-code {
    width: 98.65px;
    top: 93.44px;
    left: 80.86px;
  }
}
@media screen and (min-width: 1184px) {
  .img-code {
    width: 111.13px;
    top: 106px;
    left: 91.09px;
  }
}
.img-dashboard {
  width: 105.26px;
  top: 317px;
  right: 15.05px;
  transform: rotate(16.6deg);
}
@media screen and (min-width: 650px) {
  .img-dashboard {
    top: 315px;
    right: 152.55px;
  }
}
@media screen and (min-width: 768px) {
  .img-dashboard {
    width: 128.84px;
    top: 109.26px;
    right: 137.85px;
  }
}
@media screen and (min-width: 980px) {
  .img-dashboard {
    width: 164.41px;
    top: 189.42px;
    right: 175.91px;
  }
}
@media screen and (min-width: 1184px) {
  .img-dashboard {
    width: 185.21px;
    top: 157.79px;
    right: 198.16px;
  }
}
.img-borderDash1 {
  width: 100.77px;
  top: 55.66px;
  right: 63px;
}
@media screen and (min-width: 980px) {
  .img-borderDash1 {
    width: 128.58px;
    top: 71.03px;
    right: 80.86px;
  }
}
.img-borderDash2 {
  width: 124.7px;
  top: 134.51px;
  left: 163.73px;
}
@media screen and (min-width: 980px) {
  .img-borderDash2 {
    width: 159.12px;
    top: 171.64px;
    left: 208.93px;
  }
}/*# sourceMappingURL=all.css.map */