.bg-n5{
    background: $c-n5;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.d-md-block{
    @include rwd($md){
        display: block;
    }
}
.d-lg-none{
    @include rwd($lg){
        display: none;
    }
}

.d-lg-block{
    @include rwd($lg){
        display: block;
    }
}
.d-lg-flex{
    @include rwd($lg){
        display: flex;
    }
}
.width-100{
    width: 100%;
}
.width-lg-auto{
    @include rwd($lg){
        width: auto;
    }
}
.p-16{
    padding: 16px;
}
.px-lg-0{
    @include rwd($lg){
        padding-right: 0px;
        padding-left: 0px;
    }
}
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.headerFixedmt{
    margin-top: 72px;
    @include rwd($lg){
        margin-top: 0px;
    }
}

.navbar{
    &__item{
        padding: 0 16px;
        color: $c-n2;   
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item:hover{
        color: $c-n1;
        text-shadow: 0px 0px 10px rgba($c-n1, 0.6);
    }
    &__item:hover::after{
        content: "";
        width: 12px;
        height: 4px;
        background: $c-g1;
        position: absolute;
        left: calc( 50% - 6px);
        bottom: -8px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba($c-g1, 0.6);
    }
}

.btn{
    border: 1px solid;
    border-radius: 40px;
    cursor: pointer;
    &-small{
        padding: 8px 16px 10px 16px;
    }
    &-big{
        padding: 8px 39px;
        border-radius: 50px;
        font-size: 20px;
        line-height: 36px;
        font-weight: bold;
        letter-spacing: 0.02rem;
    }
    &-light{
        color: $c-n1;
        background-color:transparent;
        &:hover{
            color: $c-g1;
            background: rgba($c-g1, 0.2);
            box-shadow: 0px 0px 10px rgba(85, 255, 173, 0.6);
        }
    }
    &-yellow{
        background: $c-y1;
    }
}

.marquee{
    overflow: hidden;
    max-width: 100%;
    &-content{
        display: inline-flex;
    }
    img {
        width: auto;       
    }
    &-hero{
        height: 34px;
    }
}
