.bg-n5{
    background: $c-n5;
}
.bg-n4{
    background: $c-n4;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.d-md-none{
    @include rwd($md){
        display: none;
    }
}
.d-md-block{
    @include rwd($md){
        display: block;
    }
}
.d-lg-none{
    @include rwd($lg){
        display: none;
    }
}
.d-xl-none{
    @include rwd($xl){
        display: none;
    }
}

.d-lg-block{
    @include rwd($lg){
        display: block;
    }
}
.d-xl-block{
    @include rwd($xl){
        display: block;
    }
}
.d-lg-flex{
    @include rwd($lg){
        display: flex;
    }
}
.width-100{
    width: 100%;
}
.width-lg-auto{
    @include rwd($lg){
        width: auto;
    }
}
.m-0{
    margin: 0px;
}
.p-16{
    padding: 16px;
}
.px-lg-0{
    @include rwd($lg){
        padding-right: 0px;
        padding-left: 0px;
    }
}
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.text-center{
    text-align: center;
}
.fontFamily-eTitle{
    font-family: $font-family-monument;
}
.fontFamily-eContent{
    font-family: $font-family-montserrat;
}
.flex{
    &-wrap{
        flex-wrap: wrap;
    }
    &-md-wrap{
        @include rwd($md){
            flex-wrap: wrap;
        }
    }
    &-column{
        flex-direction: column;
    }
    &-xl-column{
        @include rwd($xl){
            flex-direction: column;
        }
    }
    &-md-row{
        @include rwd($md){
            flex-direction: row;
        }
    }
    &-xl-row{
        @include rwd($xl){
            flex-direction: row;
        }
    }

}
.align-items{
    &-xl-stretch{
        @include rwd($xl){
            align-items: stretch;
        }
    }
}
.headerFixedmt{
    margin-top: 72px;
    @include rwd($lg){
        margin-top: 0px;
    }
}

.navbar{
    &__item{
        padding: 0 16px;
        color: $c-n2;   
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item:hover{
        color: $c-n1;
        text-shadow: 0px 0px 10px rgba($c-n1, 0.6);
    }
    &__item:hover::after{
        content: "";
        width: 12px;
        height: 4px;
        background: $c-g1;
        position: absolute;
        left: calc( 50% - 6px);
        bottom: -8px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba($c-g1, 0.6);
    }
}

.btn{
    border: 1px solid;
    border-radius: 40px;
    cursor: pointer;
    &-small{
        padding: 8px 16px 10px 16px;
    }
    &-big{
        padding: 8px 39px;
        border-radius: 50px;
        font-size: 20px;
        line-height: 36px;
        font-weight: bold;
        letter-spacing: 0.02rem;
    }
    &-light{
        color: $c-n1;
        background-color:transparent;
        &:hover{
            color: $c-g1;
            background: rgba($c-g1, 0.2);
            box-shadow: 0px 0px 10px rgba(85, 255, 173, 0.6);
        }
    }
    &-yellow{
        background: $c-y1;
    }
}

.marquee{
    overflow: hidden;
    max-width: 100%;
    &-content{
        display: inline-flex;
    }
    img {
        width: auto;       
    }
    &-hero{
        height: 34px;
    }
    &-banner{
        height: 40px;
        @include rwd($sm){
            height: 69.8px;
        }
        @include rwd($md){
            height: 35.82px;
        }
        @include rwd($lg){
            height: 45.33px;
        }
        @include rwd($xl){
            height: 60px;
        }
    }
 
}

.radius{
    &-8{
        border-radius: 8px;
    }
    &-16{
        border-radius: 16px;
    }
    &-32{
        border-radius: 32px;
    }
}
.card{
    &-w300 {
        width: 300px;
    }
    &-w343{
        width: 343px;
    }
    &-md-w485{
        @include rwd($md){
            width: 485px;
        }
    }
    &-md-w520 {
        @include rwd($md){
            width: 520px;
        }
    }
    &-xl-w500{
        @include rwd($xl){
            width: 500px;
        }
    }

    &-primary{
        background: $c-n1;
        color: $c-p3;
    }

    &-secondary{
        background: $c-cardBK;
        color: $c-n1;
    }

    &-tertiary{
        background:transparent;
        border: 3px solid #FFFFFF;
    }

    &-fourth{
        background:  linear-gradient(#151F3F, #151F3F) padding-box,
        linear-gradient(to right, #313A65, $c-n5) border-box;
        border-radius: 32px;
        border: 1px solid transparent

    }

    &-flip{
        width: 300px;
        height: 360px;
        @include cardFlip;
    }
}


