/*rwd*/
$sm: 650px; /*650*/
$md: 768px;
$lg: 980px; /*980*/
$xl: 1184px; /*1184*/

/*color*/
$c-n1: #FFFFFF;
$c-n2: #858993;
$c-n3: #151F3F;
$c-n4: #0E1835;
$c-n5: #06102B;
$c-n6: #000000;
$c-p1: #9DA4FF;
$c-p2: #DCDEFF;
$c-p3: #6E77E9;
$c-g1: #55FFAD;
$c-y1: #FFE34E;
$c-y2: #FFF385;
$c-cardBK: linear-gradient(180deg, #9DA4FF 0%, #6E77E9 100%);
$c-decoration: linear-gradient(90deg, #9DA4FF 0%, #55FFAD 100%);
$c-cardStroke:  linear-gradient(100.38deg, #313A65 0%, #313A65 100%);


/*font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Noto+Sans+TC:wght@400;700&display=swap');
// @font-face {
//     font-family: 'custom-noto-sans';
//     src: local('Noto Sans'),
//         local('Noto Sans TC');
//     unicode-range: U+4E00-9FFF; /*中文語系*/
// }
@font-face {
    font-family: 'Monument Extended';
    src: url(../../fonts/PPMonumentExtended-Regular.otf) format("opentype"),
        url(../../fonts/PPMonumentExtended-RegularItalic.otf) format("opentype"),
        url(../../fonts/PPMonumentExtended-Light.otf) format("opentype"),
        url(../../fonts/PPMonumentExtended-LightItalic.otf) format("opentype"),
        url(../../fonts/PPMonumentExtended-Black.otf) format("opentype"),
        url(../../fonts/PPMonumentExtended-BlackItalic.otf) format("opentype");
    unicode-range: U+00-024F; /*英語系*/
}
$font-family: 'Noto Sans TC', sans-serif;
$font-family-monument: 'Monument Extended', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$fz-base: 1rem;
$fz-h1: $fz-base*3;/*48px*/
$fz-h2: $fz-base*2.5;/*40px*/
$fz-h3: $fz-base*2;/*32px*/
$fz-h4: $fz-base*1.5;/*24px*/
$fz-h5: $fz-base*1.25;/*20px*/
$fz-title: $fz-base;/*16px*/
$fz-subtitle: $fz-base*0.875;/*14px*/

$fz-p1: $fz-base*1.5;/*24px*/
$fz-p2: $fz-base*1.25;/*20px*/
$fz-p3: $fz-base;/*16px*/
$fz-p4: $fz-base*0.875;/*14px*/
$fz-caption: $fz-base*0.75;/*12px*/

$lh-base: 20px;
$lh-h1: $lh-base*3.6;/*72px*/
$lh-h2: $lh-base*3;/*60px*/
$lh-h3: $lh-base*2.4;/*48px*/
$lh-h4: $lh-base*1.8;/*36px*/
$lh-h5: $lh-base*1.4;/*28px*/
$lh-title: $lh-base;
$lh-subtitle: $lh-base*0.9;/*18px*/

$lh-p1: $lh-base*1.8;/*36px*/
$lh-p2: $lh-base*1.4;/*28px*/
$lh-p3: $lh-base;/*20px*/
$lh-p4: $lh-base*0.9;/*18px*/
$lh-caption: $lh-base*0.8;/*16px*/